.wrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.info-container{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 70%;
    box-sizing: content-box;
    background-color: #ffff;
    z-index: 30;
    -webkit-box-shadow: 0 0 1px rgba(67,90,111,.47), 0 2px 4px -2px rgba(67,90,111,.3);
    box-shadow: 0 0 1px rgba(67,90,111,.47), 0 2px 4px -2px rgba(67,90,111,.3);
}

.side-container{
    width: 40%;
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
    width: 60%;
}

@media only screen and (max-width: 768px){
    .info-container{
        width: 90%;
        height: 70%;
        flex-flow: column nowrap;
    }

    .side-container{
        width: 100%;
        height: 20%;
    }

    .form-container{
        width: 100%;
        height: 80%;
    }
}
